@model Volunteer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/profile/volprofile.css" asp-append-version="true" />

    <script src="~/js/profile/volprofile.js" asp-append-version="true" defer></script>
</head>
<body>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger custom-alert">
        @TempData["Error"]
    </div>
}

@if (TempData["SuccessVol"] != null)
{
    <div class="alert alert-success custom-alert">
        @TempData["SuccessVol"]
    </div>
}

@if (TempData["DeleteMess"] != null){
    <div class="alert alert-success custom-alert">
        @TempData["DeleteMess"]
    </div>
}

@if (TempData["CanceledMess"] != null)
{
    <div class="alert alert-success custom-alert">
        @TempData["CanceledMess"]
    </div>
}

<div class="profile-container">
    <div class="profile-sidebar">
        <div class="profile-pic-container">

            <img src="@Model.ProfilePhotoURL" alt="Profile photo" class="profile-pic" id="profilePic">
            <input type="file" id="uploadPic" hidden>
            <label for="uploadPic" class="upload-btn">Змінити фото</label>
        </div>
        <h2 class="clientname">@Model.Name</h2>
        <p class="role">Волонтер</p>
        <div class="sidebar-buttons">
            <form id="requestForm" method="get" asp-controller="VolunProfile" asp-action="VolunteerRequestList">
                <input type="hidden" name="volunteerId" value="@Model.Id" />
                <button type="submit" class="request-icon">
                    <img src="~/images/requests.png" alt="Requests">
                    @if (ViewBag.NewRequestCount > 0)
                    {
                        <span class="req-count">@ViewBag.NewRequestCount </span>
                    }
                </button>
            <p class="request-label">Ваші запити</p>
            </form>
            <form id="notificationForm" method="get" asp-controller="Notification" asp-action="VolunteerNotifications">
                <input type="hidden" name="volunteerId" value="@Model.Id" />
                <button type="submit" class="notif-icon">
                    <img src="~/images/notifications.png" alt="Notifications">
                    @if (ViewBag.NewNotificationsCount > 0)
                    {
                        <span class="notif-count">@ViewBag.NewNotificationsCount</span>
                    }
                </button>
                <p class="notif-label">Сповіщення</p>
            </form>
            <form id="logoutForm" method="post" asp-controller="VolunProfile" asp-action="LogOut">
                <button type="submit" class="logout-icon">
                    <img src="~/images/logout.png" alt="Logout">
                </button>
                <p class="logout-label">Вийти</p>
            </form>

        </div>
    </div>

    <div class="profile-content">
        <div class="task-section">
            <h3 class="paragtask">Ваші завдання</h3>

            <div class="search-filters">
                    <input type="text" id="taskNameSearch" placeholder="Пошук за назвою завдання..." oninput="filterTasks()">
                <select id="taskStatusSearch" onchange="filterTasks()">
                    <option value="">Всі статуси</option>
                    <option value="Новий">Новий</option>
                    <option value="Підтверджено">Підтверджено</option>
                    <option value="Скасовано">Скасовано</option>
                    <option value="В очікуванні">В очікуванні</option>
                    <option value="Виконано">Виконано</option>
                    <option value="В процесі">В процесі</option>
                    <option value="Відхилено">Відхилено</option>
                </select>

                <select id="taskSort" onchange="sortTasksByPriority()">
                        <option value="">Сортувати за пріорітетом</option>
                        <option value="desc">Високий → Низький</option>
                        <option value="asc">Низький → Високий</option>
                </select>
            </div>

                <div class="task-scroll-container">
                    <ul class="task-list" id="taskList">
                        @foreach (var task in Model.Tasks)
                        {
                            <li class="task-item
                @((task.Status == "Новий") ? "task-new" :
                    (task.Status == "Підтверджено" ? "task-confirmed" :
                    (task.Status == "Скасовано" ? "task-canceled" :
                    (task.Status == "В очікуванні" ? "task-pending" :
                    (task.Status == "Виконано" ? "task-completed" :
                    (task.Status == "В процесі" ? "task-progress" :
                    (task.Status == "Відхилено" ? "task-rejected" : "")))))))" data-name="@task.Name" data-status="@task.Status">
                                <strong>@task.Name</strong><br>
                                Тип: <strong>
                                    @(
                                        task.Type == AidType.Food ? "Їжа" :
                                        task.Type == AidType.Medicine ? "Ліки" :
                                        task.Type == AidType.Clothes ? "Одяг" :
                                        task.Type == AidType.Shelter ? "Укриття" :
                                        task.Type == AidType.Military ? "Воєнна допомога" :
                                        task.Type == AidType.Other ? "Інше" :
                                        task.Type // якщо не співпало
                                        )
                                </strong><br>

                                Пріоритет:
                                <span class="priority-label @(task.PriorityLevel == Priority.High ? "priority-high" :
                             task.PriorityLevel == Priority.Medium ? "priority-medium" :
                             task.PriorityLevel == Priority.Low ? "priority-low" : "")">
                                    @(
                                        task.PriorityLevel == Priority.High ? "Високий" :
                                        task.PriorityLevel == Priority.Medium ? "Середній" :
                                        task.PriorityLevel == Priority.Low ? "Низький" :
                                        task.PriorityLevel
                                        )
                                </span><br>

                                Опис: @task.Description <br>
                                Кількість: @task.Quantity <br>
                                Звідки: @task.DeliveryAddressFrom <br>
                                До: @task.DeliveryAddressTo <br>
                                Ціна: @task.Payment грн <br>
                                Дата очікуваної доставки: @task.ExpectedDeliveryTime <br>

                            
                                Статус:
                                <span class="status-label
                    @((task.Status == "Новий") ? "status-new" :
                    (task.Status == "Підтверджено") ? "status-confirmed" :
                    (task.Status == "Скасовано" ? "status-canceled" :
                    (task.Status == "В очікуванні") ? "status-pending" :
                    (task.Status == "Виконано" ? "status-completed" :
                    (task.Status == "В процесі" ? "status-progress":
                    (task.Status == "Відхилено" ? "status-rejected" : "")))))">
                                    @task.Status
                                </span>

                                <!-- Кнопки для скасування, відновлення та видалення завдання -->
                                @if (task.Status == "Скасовано" || task.Status == "Відхилено")
                                {
                                    <form method="post" asp-action="RestoreTask" asp-route-taskId="@task.HumanAidId" style="display:inline;">
                                        <button type="submit" class="btn-restore">Відновити завдання</button>
                                    </form>
                                }

                                @if (task.Status != "Виконано" && task.Status != "Відхилено" && task.Status != "Скасовано")
                                {
                                    <form method="post" asp-action="CancelTask" asp-route-taskId="@task.HumanAidId" style="display:inline;">
                                        <button type="submit" class="btn-danger">Скасувати завдання</button>
                                    </form>
                                }
                                <form method="post" asp-action="DeleteTask" asp-route-taskId="@task.HumanAidId" style="display:inline;">
                                    <button type="submit" class="btn-delete" title="Видалити завдання">🗑️</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
               <button class="btn-primary" onclick="openModal()">Додати завдання</button>
        </div>
    </div>
</div>

<div id="taskModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2> Нове завдання</h2>
        <form id="taskForm" method="post" asp-action="PostTask">
            <div class="form-group">
                <label>Назва:</label>
                <input type="text" name="Name" required>
                <label>Тип допомоги:</label>
                <select name="Type" required>
                    <option value="">Оберіть тип</option>
                    <option value="Food">Їжа</option>
                    <option value="Medicine">Ліки</option>
                    <option value="Clothes">Одяг</option>
                    <option value="Shelter">Укриття</option>
                    <option value="Military">Воєнна допомога</option>
                    <option value="Other">Інше</option>
                </select>

                <label>Опис:</label>
                <textarea name="Description" rows="3"></textarea>
                <label>Кількість:</label>
                <input type="number" name="Quantity" min="1" required>
                <label>Доставка з:</label>
                <input type="text" name="DeliveryAddressFrom" required>
                <label>Доставка до:</label>
                <input type="text" name="DeliveryAddressTo" required>
                <label>Ціна(грн):</label>
                <input type="number" name="Payment" min="0">
                <label>Очікуваний час доставки:</label>
                <input type="datetime-local" name="ExpectedDeliveryTime">
            </div>
                <button type="submit" class="btn-primary">Надіслати</button>
        </form>
    </div>
</div>
</body>
</html>

