@model List<HumanAidTransport.Models.Notification>

@{
    ViewData["Title"] = "Сповіщення Перевізника";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/notification/carrnotif.css" asp-append-version="true" />

</head>
<body>

    <h2 class="text-center notification-title">Ваші сповіщення</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["TrueMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["TrueMessage"]
    </div>
}

<div class="notification-container">
@if (Model != null && Model.Any())
{
        <ul>
            @foreach (var notification in Model)
            {
                var statusClass = notification.Status == "Підтверджено" ? "comfirmed" :
                    notification.Status == "Скасовано" ? "canceled" :
                    notification.Status == "Оцінено" ? "rated" : "default-status";
                <li class="notification-item @statusClass">
                    <div class="notification-content">
                        <span>@notification.Message</span>
                        <small class="notification-date">(@notification.CreatedAt.ToString("yyyy-MM-dd HH:mm"))</small>
                    </div>
                    <div class="notification-actions">
                        <form method="post" asp-action="CarrDelete" asp-controller="Notification">
                            <input type="hidden" name="notificationId" value="@notification.Id" />
                            <input type="hidden" name="carrierId" value="@notification.CarrierId" />
                            <button type="submit" class="mark-read-button">Видалити</button>
                        </form>
                    </div>
                </li>
            }
        </ul>
}
else
{
  <p class="no-notifications">У вас немає нових сповіщень.</p>
}
</div>
</body>
</html>
