@model Volunteer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/registration/volregistration.css" asp-append-version="true" />

</head>
<body>

<div class="container">
    <h1>Реєстрація волонтера</h1>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
                @Html.ValidationSummary(true, "Виправте наступні помилки:", new { @class = "text-danger" })
        </div>
    }

    <form method="post">
        <div class="form-group">
            <label asp-for="Name">Ім'я Волонтера</label>
            <input type="text" asp-for="Name" class="form-control" required />

            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label asp-for="Password">Пароль</label>
            <input type="text" asp-for="Password" class="form-control" required />
    
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label asp-for="CardNumber">Номер картки</label>
            <input asp-for="CardNumber" class="form-control" pattern="\d{16}" maxlength="16" required />
            @Html.ValidationMessageFor(m => m.CardNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label asp-for="CVV">CVV</label>
            <input asp-for="CVV" class="form-control" pattern="\d{3}" maxlength="3" required />
            @Html.ValidationMessageFor(m => m.CVV, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn">Зареєструватися</button>
    </form>
</div>
</body>
</html>
