@model Volunteer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/login/vollogin.css" asp-append-version="true" />

    <script src="~/js/login/vollogin.js" asp-append-version="true" defer></script>
</head>
<body>
<div class="container">
    <h2>Volunteer Login</h2>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(true, "Please fix the following errors:", new { @class = "text-danger" })
        </div>
    }

    @if (TempData["RegistMessage"] != null)
    {
        <div class="alert-success">
            @TempData["RegistMessage"]
        </div>
    }

    <form method="post">
        <div class="form-group">
            <label asp-for="Name">Volunteer Name</label>
            <input type="text" asp-for="Name" class="form-control" required />

            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" class="form-control" required />

            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn">Sign in</button>
    </form>
</div>
</body>
</html>
